#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  margin: 5px;
}

.form-item {
  width: 300px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

table,
td,
th {
  border: 1px solid black;
  text-align: center;
  margin: 10px;
}

th {
  height: 40px;
  width: 70px;
}

.table-container {
  width: 900px;
  border-collapse: collapse;
}